# NASA Mars News

In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from pprint import pprint

In [2]:
# # Path to chromedriver
!which chromedrive

In [3]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

In [29]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

browser.visit(url)
html= browser.html
# Retrieve page with the requests module
# response = requests.get(url) 

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')
# print(soup)

In [30]:
results = soup.find_all("li" , class_="slide")
# pprint(results)

In [31]:
for result in results:
    news_title = result.find("div", class_ = "content_title").text
    news_p = result.find("div", class_ = "article_teaser_body").text
    print(news_title)
    print(news_p)
    print('-----')

NASA Engineers Checking InSight's Weather Sensors
An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.
-----
Follow NASA's Perseverance Rover in Real Time on Its Way to Mars
A crisply rendered web application can show you where the agency's Mars 2020 mission is right now as it makes its way to the Red Planet for a Feb. 18, 2021, landing.
-----
NASA Establishes Board to Initially Review Mars Sample Return Plans
The board will assist with analysis of current plans and goals for one of the most difficult missions humanity has ever undertaken.
-----
NASA's Ingenuity Mars Helicopter Recharges Its Batteries in Flight
Headed to the Red Planet with the Perseverance rover, the pioneering helicopter is powered up for the first time in interplanetary space as part of a systems check.
-----
Celebrate Mars Reconnaissance Orbiter's Views From Above
Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.
-----
NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light
Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.
-----
8 Martian Postcards to Celebrate Curiosity's Landing Anniversary
The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.
-----
NASA, ULA Launch Mars 2020 Perseverance Rover Mission to Red Planet
The agency's Mars 2020 mission is on its way. It will land at Jezero Crater in about seven months, on Feb. 18, 2021.
-----
NASA's Perseverance Rover Will Carry First Spacesuit Materials to Mars
In a Q&A, spacesuit designer Amy Ross explains how five samples, including a piece of helmet visor, will be tested aboard the rover, which is targeting a July 30 launch.
-----
A New Video Captures the Science of NASA's Perseverance Mars Rover
With a targeted launch date of July 30, the next robotic scientist NASA is sending to the to the Red Planet has big ambitions.
-----
NASA Invites Public to Share Excitement of Mars 2020 Perseverance Rover Launch
There are lots of ways to participate in the historic event, which is targeted for July 30.
-----
NASA's Mars Perseverance Rover Passes Flight Readiness Review
​The agency's Mars 2020 mission has one more big prelaunch review – the Launch Readiness Review, on July 27.
-----
NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities
Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.
-----
6 Things to Know About NASA's Ingenuity Mars Helicopter
The first helicopter attempting to fly on another planet is a marvel of engineering. Get up to speed with these key facts about its plans.
-----
Join NASA for the Launch of the Mars 2020 Perseverance Rover
No matter where you live, choose from a menu of activities to join NASA as we "Countdown to Mars" and launch the Perseverance rover to the Red Planet.
-----
NASA's Perseverance Rover Attached to Atlas V Rocket
Ready for its launch later in the month, the Mars-bound rover will touch terra firma no more.
-----
7 Things to Know About the Mars 2020 Perseverance Rover Mission
NASA's next rover to the Red Planet is slated to launch no earlier than July 30. These highlights will get you up to speed on the ambitious mission.
-----
NASA's InSight Flexes Its Arm While Its 'Mole' Hits Pause
Now that the lander's robotic arm has helped the mole get underground, it will resume science activities that have been on hold.
-----
Curiosity Mars Rover's Summer Road Trip Has Begun
After more than a year in the "clay-bearing unit," Curiosity is making a mile-long journey around some deep sand so that it can explore higher up Mount Sharp.
-----
How NASA's Mars Helicopter Will Reach the Red Planet's Surface
The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.
-----
The Launch Is Approaching for NASA's Next Mars Rover, Perseverance
The Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan.
-----
NASA to Hold Mars 2020 Perseverance Rover Launch Briefing
Learn more about the agency's next Red Planet mission during a live event on June 17.
-----
While Stargazing on Mars, NASA's Curiosity Rover Spots Earth and Venus
This new portrait of the Red Planet's neighbors was taken during a time when there's more dust in the air on Mars.
-----
NASA's Mars Rover Drivers Need Your Help
Using an online tool to label Martian terrain types, you can train an artificial intelligence algorithm that could improve the way engineers guide the Curiosity rover.
-----
Three New Views of Mars' Moon Phobos
Taken with the infrared camera aboard NASA's Odyssey orbiter, they reveal temperature variations on the small moon as it drifts into and out of Mars’ shadow.
-----
The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover
Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.
-----
The Detective Aboard NASA's Perseverance Rover
An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.
-----
MAVEN Maps Electric Currents around Mars that are Fundamental to Atmospheric Loss
Five years after NASA’s MAVEN spacecraft entered into orbit around Mars, data from the mission has led to the creation of a map of electric current systems in the Martian atmosphere.
-----
Air Deliveries Bring NASA's Perseverance Mars Rover Closer to Launch
A NASA Wallops Flight Facility cargo plane transported more than two tons of equipment — including the rover's sample collection tubes — to Florida for this summer's liftoff.
-----
NASA Wins 4 Webbys, 4 People's Voice Awards
Winners include the JPL-managed "Send Your Name to Mars" campaign, NASA's Global Climate Change website and Solar System Interactive.
-----
NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound
The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet.
-----
NASA's Perseverance Rover Mission Getting in Shape for Launch
Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet.
-----
NASA Perseverance Mars Rover Scientists Train in the Nevada Desert
Team members searched for signs of ancient microscopic life there, just as NASA's latest rover will on the Red Planet next year.
-----
NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'
A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.
-----
Meet the People Behind NASA's Perseverance Rover
These are the scientists and engineers who built NASA's next Mars rover and who will guide it to a safe landing in Jezero Crater.
-----
Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter
As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.
-----
Alabama High School Student Names NASA's Mars Helicopter
Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.
-----
How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus
Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.
-----
NASA's Perseverance Mars Rover Gets Balanced
The mission team performed a crucial weight-balancing test on the rover in preparation for this summer's history-making launch to the Red Planet.
-----
NASA's Curiosity Keeps Rolling As Team Operates Rover From Home
The team has learned to meet new challenges as they work remotely on the Mars mission.
-----

# JPL Mars Space Images - Featured Image

In [7]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
url_images = "https://www.jpl.nasa.gov/spaceimages/"

browser.visit(url_images)
browser.click_link_by_partial_text('FULL IMAGE')
browser.click_link_by_partial_text('more info')

html_images= browser.html

/Users/farihasiddiqui/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/splinter/driver/webdriver/__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [9]:
soup = BeautifulSoup(html_images, 'html.parser')

In [10]:
featured_image_url = soup.find("figure" , class_ ="lede").a["href"]
print(f"https://www.jpl.nasa.gov{featured_image_url}")

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17978_hires.jpg

# Mars Facts

In [11]:
import pandas as pd

In [12]:
url = 'https://space-facts.com/mars/'

In [13]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
df = tables[0]
df.columns = ['Parameters','Values']
df

             Parameters                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
df.set_index('Parameters')

                                             Values
Parameters
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

### DataFrame as HTML

In [16]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameters</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameters</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [18]:
df.to_html('table.html')

In [19]:
# !open table.html

# Mars Hemispheres

In [20]:
url_hemispheres = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars' 
response = requests.get(url_hemispheres) 
soup = BeautifulSoup(response.text, 'html.parser')

In [21]:
result_hemispheres = soup.find_all('div', class_ = 'item')
# print(result_hemispheres)

In [22]:
hemisphere_image_urls = []
for result in result_hemispheres:
    img_url = result.find('img',class_ = 'thumb')['src']
    title = result.find('img',class_ = 'thumb')['alt']
    
    img_dict = {"title":title,
                "img_url": img_url}
    hemisphere_image_urls.append(img_dict)


hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced thumbnail',
  'img_url': '/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'},
 {'title': 'Schiaparelli Hemisphere Enhanced thumbnail',
  'img_url': '/cache/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'},
 {'title': 'Syrtis Major Hemisphere Enhanced thumbnail',
  'img_url': '/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'},
 {'title': 'Valles Marineris Hemisphere Enhanced thumbnail',
  'img_url': '/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]